<header>
    <div class="toolbar" role="banner">
        <span style="font-weight: 600;"><a aria-label="logo" rel="noopener" [routerLink]="'/Home'" 
            title="Babylon">Babylon</a></span>
        <a aria-label="Home-page" rel="noopener" [routerLink]="'/Home'" title="Home">  
            Home
        </a>
        <a aria-label="Lessons-page" rel="noopener" [routerLink]="'/Lessons'" title="Lessons">
            Lessons
        </a>
        <a aria-label="Tweets-page" rel="noopener" [routerLink]="'/Tweets'" title="Tweets">
            Tweets
        </a>
        <div class="spacer"></div>
        <div class="google">
            <asl-google-signin-button *ngIf="!loggedIn" type='standard' size='large' text="signin_with"></asl-google-signin-button>
            <p *ngIf="loggedIn">{{name}}</p>
            <img *ngIf="loggedIn" src="{{ photoUrl }} " referrerpolicy="no-referrer">
            <button *ngIf="loggedIn" (click)="showInfo=!showInfo" class="show-info-button"></button>
            <div class="user-info" *ngIf="showInfo">
                <div class="info-block">
                  <p class="info-text">Level </p>
                  <p class="info-text right-align">{{level}}</p>
                </div>
                <div class="info-block">
                  <p class="info-text">nickname </p>
                  <p class="info-text right-align">{{username}}</p>
                </div> 
                <hr>
                <button *ngIf="loggedIn" (click)="signOut()" class="signout">Sign Out</button>
            </div>
        </div>
    </div>
</header>