<header>
    <div class="toolbar" role="banner">
        <span style="font-weight: 600;"><a aria-label="logo" target="_blank" rel="noopener" href="#"
            title="Babylon">Babylon</a></span>
        <a aria-label="Home-page" target="_blank" rel="noopener" href="#"
            title="Home">
            Home
        </a>
        <a aria-label="Lessons-page" target="_blank" rel="noopener" href="#"
            title="Lessons">
            Lessons
        </a>
        <div class="spacer"></div>
        <a aria-label="Log in" target="_blank" rel="noopener" href="#"
            title="YouTube">
            Log in
        </a>
        <a aria-label="Sign up" target="_blank" rel="noopener" href="#"
            title="Sign up">
            Sign up
        </a>
    </div>
</header>