<p>lessons-page-content works!</p>
<h1 class="welcome">Grow your skills online with Babylon!</h1>
            <p>Our app is designed with you in mind, catering to both language enthusiasts and those looking to make new
                friends. With our app, you can embark on an exciting journey of learning and improving your English
                skills,
                all
                while connecting with people from around the world.</p>

            <p>Mastering English has never been easier. Our app offers a comprehensive suite of tools and resources to
                enhance
                your language skills. Say goodbye to language barriers and hello to a world of opportunities.</p>
            <p>Discover the amazing features of our app:</p>