.human {
    background-color: #EFEFEF;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

.human:hover {
    background-color: white;
}

.image {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;
}

.image img {
    max-height: 100%;
}

.human-info {
    padding-left: 20px;
}

p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

ul {
    padding: none;
}