.human {
    /* background-color: #EFEFEF; */
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 30px;
    max-width: 30vw;
}

.human:hover {
    background-color: white;
}

.image {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;
}

.image img {
    max-height: 100%;
}

.human-info {
    padding-left: 20px;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.name-container, .message-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
}

.username {
    font-size: 10px;
    align-self: center;
    color: rgb(20, 20, 20);
}

.notification {
    width: 5px;
    height: 5px;
    background: #613010;
    border-radius: 50%;
    align-self: center;
}

p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

ul {
    padding: none;
}