/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype'),
        url('assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype'),
        url('assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}

body {
    background-color: #eee;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
}