<div class="container">
    <div class="theory">
        <div class="theory-title" [innerHTML]="theoryTitle"></div>
        <div class="theory-text" [innerHTML]="theoryText"></div>
    </div>
    <hr>
    <div class="fight-section">
        <h1>Time to fight!</h1>
        <p>Now you need to defeat the monster with your new knowledge. Each correct answer will cause damage. Answer all questions correctly and win!</p>
        <button>
            Start the battle
        </button>
    </div>
</div>
