<div class="container" *ngIf="isContinue">
    <div class="question">
        <p *ngIf="isChoiceQuestion">{{tasks[0]}}</p>
        <p *ngIf="isFillQuestion">{{tasks[1]}}</p>
    </div>
    <div class="battleground">
        <div class="quizz-choice" *ngIf="isChoiceQuestion">
            <h3>{{question}}</h3>
            <form (ngSubmit)="submitChoiceForm()">
                <div>
                  <label>
                    <input type="radio" name="answer" [value]=0 [(ngModel)]="selectedAnswer" required>
                    {{ options[0] }}
                  </label>
                </div>
                <div>
                    <label>
                      <input type="radio" name="answer" [value]=1 [(ngModel)]="selectedAnswer" required>
                      {{ options[1] }}
                    </label>
                  </div>
                  <div>
                    <label>
                      <input type="radio" name="answer" [value]=2 [(ngModel)]="selectedAnswer" required>
                      {{ options[2] }}
                    </label>
                  </div>
                <button type="submit">Hit</button>
              </form>
        </div>
        <div class="quizz-fill" *ngIf="isFillQuestion">
            <h3>{{question}}</h3>
            <form (ngSubmit)="submitFillForm()">
                <div>
                    <label>
                        <input type="text" name="answer" autocomplete="off" [(ngModel)]="fillAnswer" required="">
                    </label>
                </div>
                <button type="submit">Hit</button>
            </form>
        </div>
        <div class="monster">
            <div class="monster-health-bar">
              <div class="monster-hp" [style.width]="calculateHealthSize()"></div>
            </div>
            <img src="/assets/img/quizz/output-onlinegiftools.gif" alt="">
            <p *ngIf="isHit" class="message">-{{damage}} hp!</p>
            <p *ngIf="isMiss" class="message">You miss</p>
        </div>
    </div>
</div>
<div class="win-screen" *ngIf="win">
    <h1>Congratulation!</h1>
    <p>{{phrase}}</p>
    <button [routerLink]="['/Lessons']">Return</button>
</div>
<div class="loose-screen"  *ngIf="loose">
    <h1>Fail!</h1>
    <p>{{phrase}}</p>
    <div class="fail-buttons">
      <button [routerLink]="['/Lessons']">Return</button>
      <button [routerLink]="['/Lesson/', lessonId]">Try again</button>
    </div>
</div>
<div class="not-login-screen" *ngIf="level === 0">
  <h1>You are not suppose to be here</h1>
  <h2>Log in first</h2>
</div>
