.slider-container {
    overflow: hidden;
    width: 70vw;
  }
  
  .slider {
    display: flex;
  }
    
    
  .slide {
      display: grid;
      grid-template-columns: repeat(4, 1fr); 
      grid-gap: 10px;
      width: 200%;
      height: 100%; 
      transition: transform 1s ease-in-out;
      transform: translateX(0);      
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif;
  }
  .lesson {
      box-sizing: border-box;
      /* margin: 0;
      padding: 0; */
      text-align: center; 
      font-family: 'Montserrat', sans-serif;
  }

  img {
    width: 250px;
  }
  
  button {
      margin: 5px;
     
  }
  
  .start-lesson-button {
    margin: 10px;
    border: solid 1px;
    width: 260px; 
    height: 48px; 
    font-family: 'Montserrat', sans-serif;
  }
  
  .navigation-buttons {
    position: relative;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; 
  }
  
  #prevButton, #nextButton {
    margin: 0 10px;
    border: solid 1px;
    width: 100px; 
    height: 48px;
    font-family: 'Montserrat', sans-serif;
  }