<div class="slider-container">
    <div class="slide">
        <div class="lesson">
            <h1>Level 1</h1>
            <img src="/assets/img/lessons/1.1.png" alt="">
            <p>Present Simple and Present Continuous</p>
            <button class="button-55" [routerLink]="['/Lesson/1/quizz']">Start now</button> <!--remove link from button-->
        </div>
        <div class="lesson">
            <h1>Level 2</h1>
            <img src="/assets/img/lessons/2.1.png">
            <p>Past Simple</p>
            <button class="button-55">Start now</button>
        </div>
        <div class="lesson">
            <h1>Level 5</h1>
            <img src="/assets/img/lessons/5.1.png">
            <p>Present Perfect Simple</p>
            <button class="button-55">Start now</button>
        </div>
        <div class="lesson">
            <h1>Level 6</h1>
            <img src="/assets/img/lessons/6.1.png">
            <p>Comparison of adjectives</p>
            <button class="button-55">Start now</button>
        </div>
        <div class="lesson">
            <h1>Level 3</h1>
            <img src="/assets/img/lessons/3.1.png">
            <p>Future Simple</p>
            <button class="button-55">Start now</button>
        </div>
        <div class="lesson">
            <h1>Level 4</h1>
            <img src="/assets/img/lessons/4.1.png">
            <p>Future Simple with Will and Be Going To</p>
            <button class="button-55">Start now</button>
        </div>
        <div class="lesson">
            <h1>Level 7</h1>
            <img src="/assets/img/lessons/7.1.png">
            <p>Quantifiers</p>
            <button class="button-55">Start now</button>
        </div>
    </div>
</div>
<div class="navigation-buttons">
    <button class="prev_button" id="prevButton"></button>
    <button class="next_button" id="nextButton"></button>
</div>
