<div class="slider-container">
    <div class="slider">
        <div class="slide">
            <div class="lesson">
                <h1>Level 1</h1>
                <p>Present Simple and Present Continuous</p>
                <button class="start-lesson-button">Start now</button>
            </div>
            <div class="lesson">
                <h1>Level 2</h1>
                <p>Past Simple</p>
                <button class="start-lesson-button">Start now</button>
            </div>
            <div class="lesson">
                <h1>Level 3</h1>
                <p>Future Simple</p>
                <button class="start-lesson-button">Start now</button>
            </div>
            <div class="lesson">
                <h1>Level 4</h1>
                <p>Future Simple with Will and Be Going To</p>
                <button class="start-lesson-button">Start now</button>
            </div>
        </div>
        <div class="slide">
            <div class="lesson">
                <h1>Level 5</h1>
                <p>Present Perfect Simple</p>
                <button class="start-lesson-button">Start now</button>
            </div>
            <div class="lesson">
                <h1>Level 6</h1>
                <p>Comparison of adjectives</p>
                <button class="start-lesson-button">Start now</button>
            </div>
            <div class="lesson">
                <h1>Level 7</h1>
                <p>Quantifiers</p>
                <button class="start-lesson-button">Start now</button>
            </div>
        </div>
    </div>
</div>
<div class="navigation-buttons">
    <button id="prevButton">Previous</button>
    <button id="nextButton">Next</button>
</div>
