<div *ngIf="isLoggedIn" class="main">
    <div class="search-bar" *ngIf="!isConversation" [(ngModel)]="searchBar">
        <input type="text">
    </div>
    <div class="chat" *ngIf="!isConversation">
        <ul>
            <li *ngFor="let user of users; let i = index">
                <app-chat-human-card (click)="isConversation=true; conversationId=i" [isNewMessage]="newMessages[i]" [user]="user" [message]="messages[i]" [avatar]="avatars[i]" [username]="usernames[i]"></app-chat-human-card>
            </li>
        </ul>
    </div>

    <div class="conversation" *ngIf="isConversation">
        <app-chat-conversation [user]="users[conversationId]" [avatar]="avatars[conversationId]" [username]="usernames[conversationId]" (dataToParent)="receieState($event)" (lastMessage)="receiveMesage($event)"></app-chat-conversation>
    </div>
</div>
