<div class="main">
    <div class="search-bar">
        <input type="text">
    </div>
    <div class="chat">
        <ul>
            <li>
                <app-chat-human-card></app-chat-human-card>
            </li>
            <li>
                <app-chat-human-card></app-chat-human-card>
            </li>
            <li>
                <app-chat-human-card></app-chat-human-card>
            </li>
            <li>
                <app-chat-human-card></app-chat-human-card>
            </li>
            <li>
                <app-chat-human-card></app-chat-human-card>
            </li>
            <li>
                <app-chat-human-card></app-chat-human-card>
            </li>
            <li>
                <app-chat-human-card></app-chat-human-card>
            </li>
            <li>
                <app-chat-human-card></app-chat-human-card>
            </li>
            <li>
                <app-chat-human-card></app-chat-human-card>
            </li>
        </ul>
    </div>
</div>
