<div class="content" role="main">
    <h1>Welcome to Babylone!</h1>
    <p>Our app is designed with you in mind, catering to both language enthusiasts and those looking to make new
        friends. With our app, you can embark on an exciting journey of learning and improving your English skills, all
        while connecting with people from around the world.</p>
    <hr>
    <p>Mastering English has never been easier. Our app offers a comprehensive suite of tools and resources to enhance
        your language skills. Say goodbye to language barriers and hello to a world of opportunities.</p>
    <p>Discover the amazing features of our app:</p>

    <ul>
        <li>Explore a variety of lessons structured as levels.</li>
        <li>Earn points and rewards as you progress in your language learning journey.</li>
        <li>Connect with friends from around the world, fostering global friendships.</li>
        <li>Engage in meaningful conversations with your new friends.</li>
        <li>Experience interactive and diverse learning modules.</li>
        <li>Track your achievements and language proficiency over time.</li>
        <li>Challenge yourself with quizzes and exercises designed for different levels.</li>
        <li>Unlock the world of language all within one app.</li>
    </ul>
    <p>But the real magic happens when you discover your own motivation to learn. Whether it's the thrill of exploring
        new cultures, the excitement of gaining a competitive edge in your career, or the satisfaction of reaching
        personal goals, our app is here to ignite your inner drive. With dedication and a desire to learn, your language
        journey is bound to be an incredible adventure.</p>
</div>