/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container>*:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }
}

.chat-box {
  position: relative;
  float: right;
  width: 25%;
  padding-top: 10px;
  /* min-width: 30vw; */
}

.header {
  height: 60px;
}

/* .content {
  display: flex;
  flex-direction: row;
} */

.content-home {
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, rgba(79,37,28,0.6) 0%, rgba(79,37,28,0.6) 100%), url('/assets/img/home-page/bg.jpg') no-repeat;
  background-size: cover;
}

.content-lessons {
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, rgba(79,37,28,0.6) 0%, rgba(79,37,28,0.6) 100%), url('/assets/img/lessons/lessons_bg.jpg') no-repeat;
  background-size: cover;
}

.main {
  width: 80vw;
}